services:
  web:
    build: .
    container_name: django_dev
    command: uv run python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./clientes:/app/clientes
      - ./conexiones:/app/conexiones
      - ./facturacion:/app/facturacion
      - ./instalaciones:/app/instalaciones
      - ./planes:/app/planes
      - ./templates:/app/templates
      - ./base:/app/base
    env_file:
      - .env.dev
    ports:
      - "8000:8000"
    environment:
      POSTGRES_HOST: db
    depends_on:
      - db

  db:
    image: postgres:17.5
    container_name: postgres_dev
    env_file:
      - .env.dev
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data

volumes:
  postgres_data_dev:
